 
 .title {
	position: relative;
	top: 30px;
	left: 60px;
 }

 .content {
	position: relative;
	top: 0px;
	left: 60px;
 }

 .icone {
	position: relative;
	top: -90px;
    left: -10px;
    font-size: 50px;
}

.error-button {
	position: relative;
	top: 10px;
    left: 60px;
}

.dialog-container {
    height: 1px;
    width: 170px;
	position: relative;
	top: -40px;
    left: 0px;
}

