.sideButton {
    width: 20%;
    float: right;
    position: relative;
    top: 10px;
}

.filtroBusca {
    width: 75%;
}

.preenchimento {
    height: 15px;
}

.right {
    width: 100%;
    float: right;
    text-align: right;
}

.footer {
    position: fixed;
    bottom: 0px;
}

.preenchimento-grosso {
    height: 70px;
}

.preenchimento-superior {
    height: 40px;
}

.barra-pesquisa {
    position: fixed;
    top: 63px;
    width: 100%;
    background-color: white;
    z-index: 10;
} 