<div class="preenchimento"></div>
<mat-spinner diameter="40" *ngIf="carregando"></mat-spinner>
<div *ngIf="!carregando">

	<div class="preenchimento-superior"></div>

	<div class="barra-pesquisa">
		<mat-form-field class="filtroBusca">
			<input matInput placeholder="Filtrar pelo nome" #busca (keyup.enter)="atualizarVisiveis(busca.value)"/>
		</mat-form-field>
		<button mat-raised-button (click)="atualizarVisiveis(busca.value)" color="primary" class="sideButton">Filtrar</button>
	</div>

	<mat-nav-list>
		<a mat-list-item routerLink="/detalharPessoa/{{pessoa.id}}" *ngFor="let pessoa of visiveis">{{pessoa.nome}}</a>
	</mat-nav-list>
</div>

<div class="preenchimento-grosso"></div>

<mat-toolbar class="footer">
	<button mat-icon-button (click)="adicionarPessoa()" color="primary" class="right">Adicionar Pessoa
		<mat-icon>add_circle</mat-icon>
	</button>
</mat-toolbar>