.itemR {
    position: relative;
    background-color: rgb(232, 233, 232);
    height: 64px;
}

.preenchimento {
    height: 15px;
}

.linha-qtd-nome {
    text-align:left;
    top: -18px;
    left: 100px;
    position: relative;
}

.nome {
    top: 0px;
    left: 0px;
    display: inline;
}

.quantidade {
    font-size: 20px;
    font-weight: bold;
    display: inline;
}

.campo-quantidade {
    position: relative;
    top: 12px;
    left: -10px;
    width: 30px;
}

.add-button {
    position: relative;
    top: 12px;
    left: -18px;
}

.remove-button {
    position: relative;
    top: 12px;
    left: 0px;
}

.edit-button {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
}

.sideButton {
    width: 20%;
    float: right;
    position: relative;
    top: 10px;
}

.filtroBusca {
    width: 75%;
}

.right {
    width: 100%;
    float: right;
    text-align: right;
}

.footer {
    position: fixed;
    bottom: 0px;
}

.barra-pesquisa {
    position: fixed;
    top: 112px;
    width: 100%;
    background-color: white;
    z-index: 2;
} 

.barra-back {
    position: fixed;
    top: 56px;
    width: 100%;
    z-index: 2;
}

.preenchimento-grosso {
    height: 140px;
}

.esquerda {
    position: absolute;
    left: 20px;
}